body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

#sidebar li a:hover {
    background-color: #555;
}

#content {
    margin-left: 250px;
    padding: 20px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.page.fade-out {
    animation: fadeOut 0.5s;
}

button {
    padding: 10px 20px;
    background-color: #32a2e8;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #4dbaf0;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #adc6cc;
}

select:not(.select2) {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #adc6cc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #bacad8;
}

hr {
    visibility: hidden;
}

.hidden {
    display: none;
}

progress {
    margin-left: 10px;
}

.img-os:not([src="data/os/0.png"]) {
    width: 16px;
    margin-bottom: -2.5px;
}

.selection, .select2-selection {
    padding: 10px;
    height: 36px !important;
}

.select2-selection__arrow {
    margin-top: 22px;
}

.select2-selection__rendered {
    margin-top: -6px;
    padding-left: 0 !important;
    font-size: 14px; /* calc(30px/2.25); */
}

.select2-dropdown--below {
    margin-top: -18px;
}

.select2-container {
    margin-bottom: -36px !important;
}